
.app {
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  justify-content: space-evenly;

}
h1 {
  text-align: center;
}
input:focus {
  border: none;
  height: 30px;
}

.container {
  width: 400px;
  height: 70%;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  text-align: center;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.container p,
h1 {
  color: white;
}
.input {
  width: 300px;
  height: 150px;
  background-color: #06202a;
  margin-top: 50px;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.input p {
  color: white;
}
.css-2b097c-container {
  width: 100%;
}
button {
  width: 100px;
  height: 40px;
  margin-top: 10px;
  border: none;
  background: white;
  border-radius: 5px;
  cursor: pointer;
}
@media (max-width: 509px) {
  .container {
    width: 250px;
  }
}
